button {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1.5em;
    border-radius: 1em;
    border: none;
    font-size: 0.9em;
}

button.open {
    border-radius: 1em 1em 0em 0em;
}

.buttonInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.insideBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 1em;


    position: absolute;
    overflow: hidden;
    z-index: 2;
} 
  
.insideBtn.open {
    height: auto;
    font-size: 1em;
    border-radius: 0em 0em 1em 1em;
    padding: 0 1.5em 0.8em 1.5em;
}

.insideBtnLine {
    opacity: 0.2;
    width: 100%;
    margin: 0em 0 0.5em 0;
}

.option {
    margin: 1em 0;
    font-size: 0.9em;
    text-align: start;
}

@media screen and (max-width: 767px) {
    button {
        padding: 1.2em;
        font-size: 0.8em;
    }
    
    .insideBtn.open {
        font-size: 0.8em;
    }
}