.verificationPageContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.7em;
    padding: 3%;
}

.verificationMessageImg {
    height: 9em;
}